@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

@layer components {
    .contact-buttons {
        @apply bg-[#ccd6f6] p-2 appearance-none border-2 border-black focus:outline-none focus:bg-zinc-50 focus:border-blue-500 leading-tight rounded
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        135deg, rgba(255,89,89,1) 40%, rgba(254,22,97,1) 60%
    )!important;
}